.grid-container {

display: grid;

grid-gap: 10px;

justify-content: center;	

grid-auto-flow: column;
}

.grid-item {

background-color: rgb(211, 211, 211);

display: flex;

justify-content: center;

align-items: center;

flex-wrap: wrap;

flex-direction: column;

height: 150px;

width: 200px;

border-radius: 5px;

font-size: 40px;

text-align: center;
}


